@media (max-width:600px) {
  .nav-logo img {
    width: 35vw;
  }

  .container {
    margin: 10px 0;
  }

  .nav {
    width: 100vw;
    padding-bottom: 10px;
    border-bottom: 1px solid #49e8e0;
  }

  .logo-text {
    font-size: 3.5vh;
    margin-left: -5.5vw;
  }

  .links {
    display: none;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .hero-left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .hero-heading {
    font-size: 8vw;
    font-weight: 600;
  }

  .hero-sub {
    font-size: 9vw;
    padding: 10px 0px;
    line-height: 9.5vw;
    text-align: center;
    line-break: auto;
  }



  .hero-desc {
    font-size: 4vw;
  }

  .hero-left .btn-pink {
    padding: 9px 20px;
    position: absolute;
    bottom: 55px;
  }

  .hero-right {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .user {
    background-position: center;
    background-size: contain;
  }

  .user img {
    z-index: -9;
    width: 55vw;
  }

  .icons img {
    width: 10vw;
  }

  .icon-cube img {
    width: 8vw;
  }

  .icon-zigzag img {
    width: 7vw;
  }

  .icon-plus img {
    width: 7vw;
  }

  .icon-circle img {
    width: 4vw;
  }

  .faded-text {
    font-size: 14vw;
    bottom: -80px;
    left: -40px;
  }

  .project-container {
    max-width: 90vw;
    gap: 30px;
    padding: 1rem 0;
  }

  .project-card {
    max-width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #project2 {
    margin-left: 0;
  }

  .project-number {
    font-size: 8vw;
  }

  .project-head {
    font-size: 14vw;
    font-weight: 500;
  }


  .project-content {
    scale: 0.5;
    top: 0;
    bottom: 15%;
    left: 0;
    right: 0;
  }

  .project-skills-container {
    width: 100%;
  }

  .project-skill {
    width: 35px;
  }

  .project-heading {
    font-size: 24px;
    line-height: 1rem;
  }

  .project-subHeading {
    width: 100%;
    font-size: 14px;
  }

  .btn-grp .btn-pink {
    font-size: 15px;
    padding: 5px 10px 5px 10px;
  }

  .icon {
    font-size: 15px;
  }

  .project-number-right {
    right: 0;
    top: 5px;
  }

  .project-number-left {
    left: 0;
    top: 5px;
  }

  .skill-section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }

  .skill-left {
    width: 100%;
  }

  .skill-right {
    width: 100%;

  }

  .skills-logo {
    width: 45px;
  }

  .skill-heading {
    font-size: 8vw;
  }

  .caps {
    font-size: 60px;
  }

  .fade-skill {
    font-size: 70px;
    bottom: -25px;
    right: 16px;
  }

  .skill-section {
    max-width: 100vw;
  }

  .conactus-form-container {
    width: 100%;
  }

  .contactus-heading {
    font-size: 40px;
    text-align: center;
    padding: 15px 10px;

  }

  .contactus-sub-heading {
    font-size: 20px;
    padding: 0 10px;
    text-align: center;
  }

  .form {
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .formfield-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .formfield {
    width: 90%;
  }

  #submit-btn {
    font-size: 5vw;
  }

  footer {
    padding: 0.5rem;
  }

  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }

  .footer-faded-text {
    display: none;
  }
}